@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.timer {
  font-family: "Ubuntu mono";
  font-size: 1.5rem;
}
